#navBarDiv{
    margin-bottom: 25px;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-left: 20px;
}
.navbar-nav {
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px;
}

h2 {
    padding-top: 0px;
    padding-left: 25px;
    color: #909090;
}

#contactInfo {
    text-align: center;
    color: #B0B0B0;
}
#header {
    margin-top: 100px;
}

#subHeader {
    font-family: 'Montserrat', sans-serif;
}